@charset "utf-8";
@use "sass:color";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////         VARIABLES        /////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

$gap: 10px;
$selectable-color: azure;
$selected-color: lightblue;
$closed-left-panel-width: 40px;

@font-face {
  font-family: 'Arbutus Slab';
  src: url('./arbutusslab-regular.ttf')
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////                   GLOBAL                           ////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

html {
  font-family: 'Arbutus Slab';
  user-select: none;
  overflow: hidden;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
}

p {
  margin: 0;
}

@mixin button-colors($color) {
  background-color: color.scale($color, $lightness: 99%);
  border: 5px solid color.scale($color, $lightness: 30%);
  color: $color;

  &:enabled {
    &:hover {
      background-color: color.scale($color, $lightness: 95%);
    }

    &:active {
      background-color: color.scale($color, $lightness: 80%);
    }
  }

  &:disabled {
    color: color.scale($color, $lightness: 70%, $saturation: -50%);
    border-color: color.scale($color, $lightness: 80%, $saturation: -50%);
  }
}

button {
  all: unset;
  font-family: 'Arbutus Slab';

  padding: $gap;
  text-align: center;

  @include button-colors(black);

  &:enabled {
    cursor: pointer;
  }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////          MIXINS          /////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////          RULES           /////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////



.rune-icon {
  vertical-align: middle;
  width: auto;
  height: 1em;
}

.board {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;

  padding: $gap;
  padding-right: $closed-left-panel-width;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  gap: $gap;

  .player-boards-container {
    flex: 1;

    display: flex;
    gap: $gap;

    .player-board {
      flex: 1;
      border: 2px rgb(221, 221, 221) solid;
      box-sizing: border-box;

      &.current {
        border: 2px lightgreen solid
      }

      &.selectable:hover {
        cursor: pointer;
        background-color: $selectable-color;
      }

      &.selected {
        background-color: $selected-color;
      }

      &.dead {
        background-color: rgb(224, 224, 224);

        .name {
          color: grey;
        }
      }

      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: $gap;

      .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .name {
          font-size: 2rem;
          text-align: center;

          &.me {
            text-decoration: underline;
          }
        }

        .casts-counter {
          font-size: 2rem;
          font-weight: bold;
          text-align: center;
        }

        .health {
          font-size: 3rem;
          font-weight: bold;
          text-align: end;
        }

        .reserve {
          min-width: 8em;

          font-weight: bold;
          font-size: x-large;
          display: flex;
          flex-direction: row;

          .item {
            display: flex;
            align-items: center;

          }

          .empty-reserve {
            color: lightgrey;
          }
        }

        .enchantment-button {
          width: 40px;
          height: 100%;

          &.active {
            cursor: pointer;
          }
        }
      }

      .hand {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;

        .rune {
          opacity: 0; // animated
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: $gap;

        &>button {
          flex: 1;
          min-height: 3rem;
          font-size: 1.3rem;
        }
      }
    }
  }

  .spells-panel {
    flex: 2;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: $gap;

    .spell-card {
      padding: $gap;
      border: 1px black solid;

      &.selected {
        background-color: $selected-color;
      }

      &.selectable:hover {
        cursor: pointer;
        background-color: $selectable-color;
      }

      &.selectable-invalid:hover {
        background-color: rgb(253, 233, 226);
      }

      display: flex;
      flex-direction: column;
      flex-flow: column;
      align-items: center;
      justify-items: center;
      justify-content: space-around;

      .title {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
      }

      .description {
        text-align: center;

        .rune-icon {
          height: 2em;
        }
      }

      .cost {
        font-size: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &.small-icons {
          font-size: 2rem;
        }

        .rune-icon {
          height: 1em;
        }

        .numbered-cost {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: $gap;
          margin-left: $gap;
        }

        .rune-or {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
            "rune1 empty"
            "empty2 rune2";
          position: relative;

          &::after {
            display: block;
            content: "/";
            position: absolute;
            left: +0.4em;
            transform: rotate(30deg);
          }

          .rune-icon {
            height: 0.66em;

            &:first-child {
              grid-area: rune1;
            }

            &:last-child {
              grid-area: rune2
            }
          }
        }

      }
    }
  }

  .instruction {
    text-align: center;
    font-size: 1.8rem;
    height: 2em;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: background-color linear 500ms;

  &.minimized {
    background-color: transparent;

    .modal {
      transform: translateY(-100vw)
    }
  }

  .modal {
    background-color: white;
    border: $gap black solid;
    height: fit-content;
    flex: 0 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    transition: transform ease-in-out 500ms;

    .modal-title {
      white-space: nowrap;
      font-weight: bold;
      font-size: 1.2rem;
      border-bottom: 1px lightgrey solid;
      padding: $gap;
      padding-bottom: $gap/2;
      text-align: center;
    }

    .modal-content {
      padding: $gap;
    }
  }
}

.reserve-rune-effect {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 3rem;

  .rune-icon {
    height: 100%;
  }
}

$logs-panel-width: 30vw;

.logs-panel {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  height: 100%;
  right: -3.5*$gap; // don't know why it is not $closed-left-panel-width
  width: fit-content;
  background-color: white;
  padding: $gap;
  padding-left: $closed-left-panel-width;
  border-left: grey solid 2px;
  overflow-y: scroll;

  transition: transform 0.5s;
  transform: translateX($logs-panel-width);

  &.open {
    transform: translateX(0);
    right: 0;

    .logs-container {
      opacity: 1;
    }
  }

  .logs-container {
    display: flex;
    flex-direction: column;

    width: $logs-panel-width;
  }
}


.select-rune-types {
  .runes {
    display: flex;
    flex-direction: row;

    .rune-button {
      height: 5rem;
      box-sizing: border-box;
      border: 4px transparent solid;

      &:hover {
        border-color: rgb(189, 189, 189)
      }

      &.selected {
        border-color: rgb(93, 190, 228)
      }

      position: relative;

      .rune-icon {
        height: 100%;
      }

      .selected-count {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 4rem;
        color: white;
        background-color: rgba(13, 0, 131, 0.158);
      }
    }

  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;

    &>button {
      flex: 1;
      min-height: 3rem;
      font-size: 1.3rem;
    }
  }
}

.enchantment-list {
  display: flex;
  flex-direction: column;
  gap: $gap;
  white-space: nowrap;


  .item {
    text-align: center;
  }
}

.reserve-details {
  max-width: 50vw;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, 1fr);
}

.gameover {
  white-space: nowrap;
  font-weight: bold;
  font-size: 2rem;
}

.rune {
  height: 3rem;
  width: 3rem;
  box-sizing: border-box;
  border: 4px transparent solid;

  &.first-selectable:hover {
    cursor: pointer;
    border-color: rgb(189, 189, 189);
  }

  &.selected-incomplete {
    border-color: rgb(232, 236, 0)
  }

  &.selected {
    border-color: rgb(93, 190, 228)
  }

  &.proposed-invalid,
  &.proposable-invalid:hover {
    cursor: pointer;
    border-color: orange
  }

  &.proposed-valid,
  &.proposable-valid:hover {
    cursor: pointer;
    border-color: lime
  }

  .rune-icon {
    height: 100%;
  }
}
